@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --glv-black: #1c1c1c;
    --glv-blue: #0066cc;
    --glv-red: #cc3d00;

    --question-delete-size: 40px;
    --answer-delete-size: 25px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body::-webkit-scrollbar {
    width: 1px;
    background: var(--glv-black);
}

body::-webkit-scrollbar-thumb {
    background: white;
}


/************************/
/*HEADER*/
/************************/
header {
    background-color: var(--glv-black);
}
header h1{
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0 30vw 20px 30vw;

    font-size: 40px;
    font-weight: 500;
}


/************************/
/*MAIN*/
/************************/
main {
    align-items: center;
    display: flex;
    flex-direction: column;

    padding-bottom: 10px;
}
.main-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2vh;

    font-size: medium;
}


/************************/
/*ANIMATIONS*/
/************************/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes add{
    0% {
        max-height: 0;
    }
    100% {
        max-height: 50vh;
    }
}

@keyframes delete{
    from{
        max-height: 50vh;
    }
    to {
        max-height: 0;
    }
}


/************************/
/*WRAPPERS*/
/************************/
.question-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.6);
}

.question-title {
    padding: 1.5vh 2vh;
    background: var(--glv-black);
    text-align: center;

    color: white;
    font-weight: normal;
    font-style: italic;
}

.question-button-wrapper {
    animation: add 1s ease-in-out;
    --gap: 10px;
    display: flex;
    gap: var(--gap);
    margin-right: calc(-1 * var(--question-delete-size) - var(--gap));
}

.answer-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin: 1.5vh 2vh 2vh 2vh;
}

.answer-wrapper {
    overflow: hidden;
    display: flex;
    gap: 1.5vh;
    align-items: center;
    border: gray 0.2vh solid;
    border-radius: 25px;
    padding: 1.5vh;
}

.answer-text {
    font-weight: 300;
    color: gray;
    height: 100%;
    width: 100%;
    border: none;
}

.answer-animation-wrapper {
    animation: add 1s ease-in-out;
    overflow: hidden;
}

/************************/
/*ANSWER ELEMENTS WRAPPERS*/
/************************/
.answer-checkbox-wrapper {
    flex: 5%;
}

.answer-text-wrapper {
    width: 70%;
    flex: 90%;
}

.answer-delete-wrapper {
    flex: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/************************/
/*CHECKBOX*/
/************************/
.answer-checkbox {
    transition: all .2s;
    border-radius: 50%;
    border: gray 0.2vh solid;
    height: 15px;
    width: 15px;
}

/************************/
/*ADD BUTTONS*/
/************************/
.add-button {
    display: flex;
    align-items: center;
    width: 100%;
    color: gray;

    border: gray 0.2vh solid;
    padding: 1.5vh;
    border-radius: 25px;
    cursor: pointer;

    font-size: inherit;
}
    /************************/
    /*ADD QUESTION BUTTON*/
    /************************/
    .add-question {
        font-weight: normal;
        font-style: italic;
    }
    .add-question:hover {
        transition: all .2s ease-in;

        background-color: var(--glv-black);
        border-color: var(--glv-black);
        color: white;
    }

    /************************/
    /*ADD ANSWER BUTTON*/
    /************************/
    .add-answer {
        font-weight: 300;
        font-style: normal;
    }
    .add-answer:hover {
        transition: all .2s ease-in;
        background-color: var(--glv-blue);
        border-color: var(--glv-blue);
        color: white;
    }

.button-add-icon {
    font-style: normal;
    font-weight: 300;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
}

.button-text {
    width: 100%;
    text-align: center;
}


/************************/
/*DELETE ANSWER BUTTON*/
/************************/
.answer-delete {
    transition: all .2s;
    border-radius: 50%;
    height: var(--answer-delete-size);
    width: var(--answer-delete-size);

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    cursor: pointer;
}
    .answer-delete:hover {
        background: var(--glv-red);
    }

.answer-delete img{
    opacity: .5;
    height: 50%;
    filter: invert(0);
}
    .answer-delete:hover img{
        opacity: 1;
        filter: invert(1);
    }

/************************/
/*DELETE QUESTION BUTTON*/
/************************/
.question-delete-wrapper {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: center;
}

.question-delete {
    transition: all .2s;
    border-radius: 50%;
    height: var(--question-delete-size);
    width: var(--question-delete-size);

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--glv-black);
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.6);
}
    .question-delete:hover {
        background: #cc3d00;
    }

.question-delete img{
    height: 50%;
    filter: invert(1);
}
    .question-delete:hover img{
        opacity: 1;
        filter: invert(1);
    }

/************************/
/*CONTENT EDITABLE SETTINGS*/
/************************/
[contentEditable]:focus {
    outline: none;
}
[contentEditable]:empty::before{
    cursor: text;
    font-style: italic;
    opacity: 0.3;
    content:attr(myPlaceholder);
}

/************************/
/*MOBILE STYLES*/
/************************/
@media (max-device-width: 600px) {
    :root {
        --question-delete-size: 100px;
        --answer-delete-size: 60px;
    }

    header h1{
        margin: 0 0 30px;
        font-size: 70px;
    }
    .main-wrapper {
        padding: 0 90px;
        width: 90vw;
        gap: 50px;
        font-size: 30pt;
    }

    .add-button {
        border-radius: 75px;
        padding: 20px;
    }
        .add-question:hover {
            background-color: transparent;
            border-color: gray;
            color: gray;
        }
        .add-answer:hover {
            background-color: transparent;
            border-color: gray;
            color: gray;
        }

        .add-question:active {
            background-color: var(--glv-black);
            border-color: var(--glv-black);
            color: white;
        }
        .add-answer:active {
            background-color: var(--glv-blue);
            border-color: var(--glv-blue);
            color: white;
        }

    .question-button-wrapper {
        --gap: 20px;
    }
    .question-wrapper {
        border-radius: 50px;
        box-shadow: 0 0 15px -2px rgba(34, 60, 80, 0.6);
    }
    .question-title {
        padding: 20px 25px;
    }
    .answer-button-wrapper {
        margin: 20px 30px 30px 30px;
        gap: 20px
    }

    .answer-wrapper {
        border-radius: 75px;
        gap: 20px;
        padding: 20px;
    }

    .question-delete-wrapper{
        margin-top: 30px;
    }

    .question-delete {
        box-shadow: 0px 0px 15px -2px rgba(34, 60, 80, 0.6);
    }

    .answer-checkbox {
        height: 40px;
        width: 40px;
    }
}

