@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body::-webkit-scrollbar {
    width: 1px;
    background: #1c1c1c;
}

body::-webkit-scrollbar-thumb {
    background: white;
}

header {
    background-color: #1c1c1c;
}
header h1{
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0 30vw 20px 30vw;

    font-size: 40px;
    font-weight: 500;
}
main {
    align-items: center;
    display: flex;
    flex-direction: column;

    padding-bottom: 10px;
}

.main-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

@keyframes addElement {
    0% {
        opacity: 0;
        max-height: 0;
    }
    15% {
        opacity: 1;
        max-height: 40px;
    }
    100% {
        max-height: 1000px;
    }
}

@keyframes addAnswer {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 500px;
    }
}

.answer-wrapper {
    animation: addAnswer 1s ease-in-out;
    overflow: hidden;
}

.question-wrapper {
    transition: all 1s;
    animation: addElement 2s;
    
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.6);
}

.question-title {
    padding: 1.5vh 2vh;
    background: #1c1c1c;
    text-align: center;

    color: white;
    font-weight: normal;
    font-size: medium;
    font-style: italic;
}

.question-answer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin: 1.5vh 2vh 2vh 2vh;
}

.question-answer {
    overflow: hidden;
    transition: all .2s;
    display: flex;
    gap: 1.5vh;
    align-items: center;
    border: gray 0.2vh solid;
    border-radius: 25px;
    padding: 1.5vh;
}

.question-answer-text {
    font-weight: 300;
    font-size: medium;
    color: gray;

    width: 90%;
    height: 100%;
    border: none;
}

/*CHECKBOXES*/
.question-answer-checkbox {
    transition: all .2s;
    border-radius: 50%;
    border: gray 0.2vh solid;
    height: 15px;
    width: 15px;
}

/*BUTTONS*/
.add-button {
    display: flex;
    align-items: center;
    width: 100%;
    color: gray;

    border: gray 0.2vh solid;
    padding: 1.5vh;
    border-radius: 25px;
    cursor: pointer;
}

    .add-question {
        font-weight: normal;
        font-style: italic;
    }
    .add-question:hover {
        transition: all .2s ease-in;

        background-color: #1c1c1c;
        border-color: #1c1c1c;
        color: white;
    }

    .add-answer {
        font-weight: 300;
        font-style: normal;
    }
    .add-answer:hover {
        transition: all .2s ease-in;
        background-color: #0066cc;
        border-color: #0066cc;
        color: white;
    }

.button-add-icon {
    font-style: normal;
    font-weight: 300;
    font-size: 15pt;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
}

.button-text {
    width: 100%;
    text-align: center;

    font-size: medium;
}

/*CONTENT EDITABLE SETTINGS*/
[contentEditable]:focus {
    outline: none;
}
[contentEditable]:empty::before{
    cursor: text;
    font-style: italic;
    opacity: 0.3;
    content:attr(myPlaceholder);
}

/*MOBILE STYLES*/
@media (max-device-width: 600px) {
    @keyframes addElement {
        0% {
            opacity: 0;
            max-height: 0px;
        }
        15% {
            opacity: 1;
            max-height: 150px;
        }
        100% {
            max-height: 3000px;
        }
    }

    header h1{
        text-align: center;
        margin: 0 0 2vh;
        font-size: 4.5vh;
        overflow-wrap: break-word;
    }

    .main-wrapper {
        width: 90vw;
    }

    .add-button {
        border-radius: 75px;
    }
        .add-question:hover {
            background-color: transparent;
            border-color: gray;
            color: gray;
        }
        .add-answer:hover {
            background-color: transparent;
            border-color: gray;
            color: gray;
        }

        .add-question:active {
            background-color: #1c1c1c;
            border-color: #1c1c1c;
            color: white;
        }
        .add-answer:active {
            background-color: #0066cc;
            border-color: #0066cc;
            color: white;
        }

        .button-text {
            font-size: 2vh;
        }
    .question-wrapper {

        font-size: 2vh;
        border-radius: 75px;
        box-shadow: 0px 0px 15px -2px rgba(34, 60, 80, 0.6);
    }

    .question-answer {
        border-radius: 75px;
    }

    .question-title {
        font-size: 2vh;
    }

    .question-answer-text {
        font-size: 2vh;
    }

    .question-answer-checkbox {
        height: 5vw;
        width: 5vw;
    }

    .question-answer-checkbox img{
        padding: 1vw;
        display: block;
    }

    .add-button {
        font-size: 2vh;
    }

    .button-add-icon {
        font-style: normal;
        font-weight: 300;
        font-size: 3vh;
        display: flex;
    }

}

